<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae quisquam totam deleniti veritatis fuga, libero a aliquam labore. Eos aut voluptas soluta omnis ipsum repellat, laborum sit quidem adipisci possimus!</p>
    
</body>
</html>