<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>change checkboard</title>
</head>
<body>
    <table>
        {% for x in range(0, rows): %}
            {% if x % 2 != 0: %}
            <tr>
                {% for y in range(0, columns): %}
                    {% if y % 2 != 0: %}
                    <td class="color1"></td>
                    {% endif %}
                    {% if y % 2 == 0: %}
                    <td class="color2"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endif %}

            {% if x % 2 == 0: %}
            <tr>
                {% for y in range(0, columns): %}
                    {% if y % 2 != 0: %}
                    <td class="color2"></td>
                    {% endif %}
                    {% if y % 2 == 0: %}
                    <td class="color1"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>

</body>
</html>