<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>checkboard 8X4</title>
</head>
<body>
    <table>
        <tr>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
        </tr>
        <tr>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
        </tr>
        <tr>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
        </tr>
    </table>
</body>
</html>